@import "tailwindcss";

@theme {

  --color-valorant-dark: #0f1923;
  --color-valorant-card: #1a242d;
  --color-valorant-red: #ff4655;
  --color-valorant-red-dark: #d53848;
  --color-valorant-accent: #bd3944;
}

@plugin 'tailwind-scrollbar';
